[Desktop Entry]
Icon=.icon/basic_sketch_and_line_art_small.png
Name=basic_sketch_and_line_art_small
Type=Link
URL[$e]=.source/basic_sketch_and_line_art_small.kra
X-KDE-Hidden=false
