[Desktop Entry]
Icon=.icon/my_webtoon_medium_by_walter_ostlie.png
Name=my_webtoon_medium_by_walter_ostlie
Type=Link
URL[$e]=.source/my_webtoon_medium_by_walter_ostlie.kra
X-KDE-Hidden=false
